<h2>Latest posts:</h2>

<br />

<% @results.each do |post| %>
	<p>
		Автор: <%= post['author'] %>
		<br>
		<br>
		<%= post['content'] %>
		<br />
		<br />
		<%= post['created_date'] %>
		<br>
		<a href="/details/<%= post['id'] %>">Comments</a>
	</p>

	<hr />
<% end %>